<!DOCTYPE html>
{% extends "basic_app/base.html" %}
{% load bootstrap %}

{% block body_content %}



<div class="container">
	<div class="jumbotron">
		<h1>Search Customer List</h1><br>  <a href="#"><button class="btn btn-primary">Create New Customer</button></a><br><br>
			<form method="GET">
					<div class="container">
						<p>{{ filter.form|bootstrap }}</p>
					</div><br><br>
					<div class="container"><p><button type="submit" class="btn btn-primary">Search</button></p></div>
			</form>
	</div>
</div>
<ol>
	{% for cus in filter.qs %}
	<h4><a href="{{cus.id}}"><li>{{ cus.last_name }}, {{ cus.first_name }}</li></a></h4>
	{% endfor %}
</ol>




{% endblock %}