<!DOCTYPE html>
{% extends "basic_app/base.html" %}
{% block body_content %}
	<h1>Welcome to my Testimony</h1>
	<h2></h2>
	<p>This is my testimony of what the Precious Blood of Jesus Christ has done for me; that I do not even love my life to the death. I have been forgiven of my sins and have been created a new creature, created in Jesus Christ, and given a new life to speak of the Hope, given to me, in the One True Living Word of God, Jesus Christ the living Son of God Almighty!!</p><br><br>
	{{ more_text }}



{% endblock %}
